# SMTP Configuration for sending emails from the Contact Form
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
TARGET_EMAIL=soumyajitdas.work@outlook.com

# Port configuration (Optional, Render will provide this automatically)
# PORT=5000
