<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180">
  <link  href="./static/assets/apple-icon-180x180.png" rel="icon">

  <title>Certifications</title>

<link href="./static/style.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="Home Page">Home</a></li>
          <li><a href="./certifications.html" title="Certification Page">Certifications</a></li>
          <li><a href="./badges.html" title="Badges Page">Badges</a></li>
          <li><a href="./projects.html" title="Projects Page">Projects</a></li>
          <li><a href="./about.html" title="About Page">About Me</a></li>
          <li><a href="./contact.html" title="Contact Page">Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Certifications</h1>
          <p>These are the certificates earned by me from the various online courses i persued during my UG course.</p>
        </div>
      </div>
      <div class="col-md-12">
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">
                      <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/machine-learning-and-data-science.jpg')">
                        <img src="./static/assets/certificate/machine-learning-and-data-science.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>01/10</h4>
                        <h3>Complete Machine Learning and Data Science</h3>
                        <p>(Zero to Mastery)</p>
                        <a href="https://www.udemy.com/certificate/UC-941fcfaa-e4d4-4901-b358-77a84f285f15/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email" title="View Credential" class="btn btn-default">View Credential</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/data-science-methodology.jpg')">
                        <img src="./static/assets/certificate/data-science-methodology.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>02/10</h4>
                        <h3>Data Science Methodology</h3>
                        <p>(DS0103EN, provided by CognitiveClass)</p>
                        <a href="https://courses.cognitiveclass.ai/certificates/a1b89a309a5647009c7480061291e3cd"  class="btn btn-default">View Credential</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a title="" class="black-image-project-hover" onclick="window.open('./static/assets/certificate/sql-relational-database.jpg')">
                        <img src="./static/assets/certificate/sql-relational-database.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>03/10</h4>
                        <h3>SQL and Relational Databases 101</h3>
                        <p>(DB0101EN, provided by Big Data University)</p>
                        <a href="https://courses.cognitiveclass.ai/certificates/5946be5e5c4848a0b0b6183613c20c3d" title="" class="btn btn-default">View Credential</a>
                      </div>
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/data-visualization.jpg')">
                      <img src="./static/assets/certificate/data-visualization.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>04/10</h4>
                      <h3>Data Visualization with Python</h3>
                      <p>(DV0101EN, provided by Cognitive Class)</p>
                      <a href="https://courses.cognitiveclass.ai/certificates/223da0093cca46a8979f76495f80adef" class="btn btn-default">View Credential</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/data-science-hands-on.jpg')">
                        <img src="./static/assets/certificate/data-science-hands-on.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>05/10</h4>
                        <h3>Data Science Hands-On with Open Source Tools</h3>
                        <p>(DS0105EN, provided with Cognitive Class)</p>
                        <a href="https://courses.cognitiveclass.ai/certificates/19b56511798642b99001ac78b8438ab4" class="btn btn-default">View Credential</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/data-analysis-with-python.jpg')">
                        <img src="./static/assets/certificate/data-analysis-with-python.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>06/10</h4>
                        <h3>Data Analysis with Python</h3>
                        <p>(DA0101EN, provided with CognitiveClass)</p>
                        <a href="https://courses.cognitiveclass.ai/certificates/28677f1bd041451482d7d661df26f91f" class="btn btn-default">View Credential</a>
                      </div>
                    </div>

                </div>
                <!--/row-->
            </div>

            <!--/item-->
          <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/machine-learning-with-python.jpg')">
                      <img src="./static/assets/certificate/machine-learning-with-python.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>07/10</h4>
                      <h3>Machine Learning with Python</h3>
                      <p>(ML0101EN, provided by Cognitive Class)</p>
                      <a href="https://courses.cognitiveclass.ai/certificates/7e94a040ae6d4769851f0b1a6b12b23a" class="btn btn-default">View Credential</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/introduction-to-data-science.jpg')">
                        <img src="./static/assets/certificate/introduction-to-data-science.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>08/10</h4>
                        <h3>Introduction to Data Science</h3>
                        <p>(DS0101EN, provided with Cognitive Class)</p>
                        <a href="https://courses.cognitiveclass.ai/certificates/885d05a3872647beaa116b67c027fbfd" class="btn btn-default">View Credential</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/python-for-data-science.jpg')">
                        <img src="./static/assets/certificate/python-for-data-science.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>09/10</h4>
                        <h3>Python 101 for Data Science</h3>
                        <p>(PY0101EN, provided with CognitiveClass)</p>
                        <a href="https://courses.cognitiveclass.ai/certificates/3e938a4511904bef9935b0b0e4764be9" class="btn btn-default">View Credential</a>
                      </div>
                    </div>

                </div>
                <!--/row-->
            </div>

            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a class="black-image-project-hover" onclick="window.open('./static/assets/certificate/python-udemy.jpg')">
                      <img src="./static/assets/certificate/python-udemy.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>10/10</h4>
                      <h3>Complete Python Developer in 2020</h3>
                      <p>(Zero to Mastery)</p>
                      <a href="https://www.udemy.com/certificate/UC-d8692e10-7d87-4c47-9724-e3b2a617937a/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email" class="btn btn-default">View Credential</a>
                    </div>
                  </div>

                </div>
                <!--/row-->
            </div>

            <!--/item-->

        </div>
        <!--/carousel-inner-->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© SOUMYAJIT DAS | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>