<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180">
    <link href="./static/assets/apple-icon-180x180.png" rel="icon">
    <title>About Me</title>
    <link href="./static/style.css" rel="stylesheet">
  </head>
  <body >
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="Home Page">Home</a></li>
          <li><a href="./certifications.html" title="Certification Page">Certifications</a></li>
          <li><a href="./badges.html" title="Badges Page">Badges</a></li>
          <li><a href="./projects.html" title="Projects Page">Projects</a></li>
          <li><a href="./about.html" title="About Page">About Me</a></li>
          <li><a href="./contact.html" title="Contact Page">Contact</a></li>
        </ul>
       </div>
    </div>
  </nav>
</header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2"> About Me </h1>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
<!--                  <h3 align="center">SOUMYAJIT DAS</h3>-->
                  <p style="font-size: 12px">
                    Hello, I am Soumyajit Das. Currently I am persuing my Bachelor of Engineering degree in Information Technology specialization from Rungta College of Engineering and Technology, Bhilai affiliated to Chhattisgarh Swami Vivekanand Technical University.
                  </p>
                  <h3>Objective</h3>
                  <p style="font-size: 12px">
                    Self-motivated and hardworking graduate seeking an oppurtunity to work in a challenging environment to prove my skills and utilize my knowledge of various databases for the growth of the organization.
                  </p>
                  <h3>Academic Records</h3>
                    <table width="400">
                      <tr style="align: center; font-size: 12px">
                        <th>Degree</th>
                        <th>Completion Year</th>
                        <th>Percentage</th>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td align="center" style="font-size: 12px">BE</td>
                        <td align="center" style="font-size: 12px">2021</td>
                        <td align="center" style="font-size: 12px">73.72 %</td>
                      </tr>
                      <tr align="center" style="font-size: 12px">
                        <td align="center" style="font-size: 12px">XII</td>
                        <td align="center" style="font-size: 12px">2017</td>
                        <td align="center" style="font-size: 12px">75.80 %</td>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td align="center" style="font-size: 12px">X</td>
                        <td align="center" style="font-size: 12px">2015</td>
                        <td align="center" style="font-size: 12px">81.70 %</td>
                      </tr>
                    </table>
                    <h3>Language Proficency</h3>
                    <table width="400">
                      <tr style="align: center; font-size: 12px">
                        <td>Python</td>

                        <td>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </td>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td>Data Science</td>


                        <td>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </td>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td>Machine Learning</td>

                        <td>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </td>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td>SQL</td>


                        <td>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </td>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td>HTML - CSS</td>


                        <td>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </td>
                      </tr>
                      <tr style="align: center; font-size: 12px">
                        <td>C Language</td>


                        <td>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </td>
                      </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt="Image">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© SOUMYAJIT DAS | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>